@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:100,400');

// //////////////////////////////////////////////////////////////////////////////////////////////

// Variables

// //////////////////////////////////////////////////////////////////////////////////////////////

$greenLight: #A3CF65;
$green: #8DC63F;
$greenDark: #709E40;

$blueLight: #78B0B6;
$blue: #569EA4;
$blueDark: #467F83;

$purpleLight: #BA94C4;
$purple: #A87BB5;
$purpleDark: #88639C;

$redLight: #F5857E;
$red: #F2665E;
$redDark: #CE5750;

$orangeLight: #F8A464;
$orange: #F68D3D;
$orangeDark: #D17834;

$yellowLight: #FECF64;
$yellow: #FEB611;
$yellowDark: #E4A30F;

$greyLight: #E6E7E8;
$grey: #929497;
$greyDark: #58595B;

$white: #f5f7fc;
$black: #58595B;

$gutter: 20px;
$border-radius: 4px;
$transition: all 0.35s ease;
$box-shadow: 0rem 1.125rem 4.125rem 0rem rgba(0,0,0,0.451);
$box-shadow-light: 0rem 1.125rem 4.125rem 0rem rgba(0,0,0,0.2);
$text-shadow: 0.5px 0.5px 5px $black;


// //////////////////////////////////////////////////////////////////////////////////////////////

// Global Styles

// //////////////////////////////////////////////////////////////////////////////////////////////

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  opacity: 1;
  transition: 2.25s opacity;
  background: url(../images/recurrencyBG.svg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: $greyDark;
}

::selection {
  background: $blue; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $blue; /* Gecko Browsers */
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  margin-bottom: $gutter;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
}

h1 {
	font-size: 2.25em;
	font-weight: 300;
}

p {
  font-family: 'Roboto', sans-serif;
  font-size: 1.25em;
  font-weight: 100;
  line-height: 1.5em;
}

span {
  font-weight: 400;
}

.hidden {
  display: none;
}

.main {
	margin: 0px auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	padding: $gutter*2;
	border-radius: .625rem;
	width: 75%;
  background: $white;
	box-shadow: $box-shadow;

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: $gutter*2;
    width: 75%;
    max-width: 500px;
  }

  a {
    text-decoration: none;
    color: $blue;
    font-weight: 400;

    &:hover {
      border-bottom-color: transparent;
    }
  }

}

// Link Styling

.linkHover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(120, 176, 182, 0.2)), to(rgba(120, 176, 182, 0.2)));
  background-image: linear-gradient(rgba(120, 176, 182, 0.2) 0%, rgba(120, 176, 182, 0.2) 100%);
  background-repeat: repeat-y;
  background-size: 0% 0em;
  background-position: 0 65%;
  -webkit-transition: $transition;
  transition: $transition;
}

.linkHover:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(120, 176, 182, 0.2)), to(rgba(120, 176, 182, 0.2)));
  background-image: linear-gradient(rgba(120, 176, 182, 0.2) 0%, rgba(120, 176, 182, 0.2) 100%);
  background-size: 100% 1em;
}

// Form Styling

label {
  display: none !important;
}

input[type=email] {
  height: 3rem;
  // line-height: 3rem;
  padding: 0 1.05rem;
  font-size: 1em;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.075rem;
  padding-left: calc(0.075rem + 1.05rem);
  font-weight: 400;
  border-radius: .625rem;
  color: $greyDark !important;
  border: solid 1px $white;
  text-align: left;
  display: block;
  background-color: transparent;
  border: 1px solid $white;
  width: 75%;
  outline: 0;
  box-shadow: $box-shadow-light;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: $greyDark;
}
::-moz-placeholder { /* Firefox 19+ */
  color: $greyDark;
}
:-ms-input-placeholder { /* IE 10+ */
  color: $greyDark;
}
:-moz-placeholder { /* Firefox 18- */
  color: $greyDark;
}

input[type="submit"] {
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.05rem;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.075rem;
    padding-left: calc(0.075rem + 1.05rem);
    font-weight: 400;
    border-radius: .625rem;
    border: none;
    display: block;
    // background-color: $white;
    outline: 0;
    margin-top: 25px;
    box-shadow: $box-shadow-light;
    cursor: pointer;
    text-transform: uppercase;
    color: $white !important;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#569ea4+33,a87bb5+100 */
    background: #569ea4; /* Old browsers */
    background: -moz-linear-gradient(left, #569ea4 33%, #a87bb5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #569ea4 33%,#a87bb5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #569ea4 33%,#a87bb5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#569ea4', endColorstr='#a87bb5',GradientType=1 ); /* IE6-9 */
    transition: $transition;

    &:hover {
      box-shadow: $box-shadow;
    }

}

// Media Queries

@media only screen and (min-width : 320px) and (max-width : 415px) {

	.main {
		padding: $gutter;
	}

	h1 {
		font-size: 1.25em;
	}

	p {
		font-size: 1em;
	}

	input[type=email] {
		width: 100%;
	}

}